<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About ToDo App</title>
</head>
<body>

    <h1>ToDo Task Tracking <h1>
        <h2>It's all about 2 not 3 prioritization</h2>
    <p>This app tracks ToDo tasks by Date, Category and Status.</p>

    <p>The objective is to help prioritize tasks daily by displaying the whole list. 

    <p>The <b>Prioritize</b> button will go thru all the list starting with the top 3.  The app will ask you to choose 2 (ie. eliminate 1).  It will then continue with the next item on the list. </p>

    <p>The top 2 go to the top of the list. </p>

    <p></p>The set of priorities can be altered to prioritize top N (max 5).  In addition to eliminating tasks to prioritize, you can commit to a task during the priotization process.</p> 

</body>
